
/* Clearing Floats */
.themezee-admin-clearfix:before, .themezee-admin-clearfix:after {  
	content: " ";
	display: table;  
}  
.themezee-admin-clearfix:after {  
	clear: both;
}  
.themezee-admin-clearfix {
    *zoom: 1; /* For IE 6/7 only */  
}

/* Header */
#themezee-admin-header {
	background: #f0f0f0;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #f0f0f0),
		color-stop(1, #ddd)
	);
	background-image: -o-linear-gradient(right, #f0f0f0 0%, #ddd 100%);
	background-image: -moz-linear-gradient(right, #f0f0f0 0%, #ddd 100%);
	background-image: -webkit-linear-gradient(right, #f0f0f0 0%, #ddd 100%);
	background-image: -ms-linear-gradient(right, #f0f0f0 0%, #ddd 100%);
	background-image: linear-gradient(to right, #f0f0f0 0%, #ddd 100%);
	margin-right: -10px;
}
#themezee-admin-header .themezee-admin-header-title {
	float: left;
	line-height: 1em !important;
	padding: 0.5em !important;
}
#themezee-admin-header .themezee-admin-header-logo {
	float: right;
}
#themezee-admin-header .themezee-admin-header-logo  img {
	vertical-align: top;
	width: 175px;
	height: 35px;
	background: #333;
	border: 6px solid #333;
}

/* Navigation Tabs */
#themezee-admin-tabs {
	margin: 0 0 1em;
}
#themezee-admin-tabs .nav-tab {
	font-size: 0.7em;
	padding: 0.5em 1em;
	margin-top: 0.5em;
}
.themezee-admin-wrapper .themezee-updated {
	padding: 0.8em;
	margin-bottom: 1.5em;
	background-color: #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Layout */
#themezee-admin-content {
	float: left;
	width: 72%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#themezee-admin-sidebar {
	float: right;
	width: 28%;
}
	
/* Settings Form */
.themezee-admin-settings h3 {
	margin: 0 !important;
	padding: 0.7em 0.8em;
	line-height: 1.4em;
	background: #fff;
	border: 1px solid #e5e5e5;
	font-size: 1.1em;
	color: #111;
	text-shadow: #fff 0 1px 0;
}
.themezee-admin-settings .form-table {
	margin: 0 0 1.5em 0;
	background: #fefefe;
	border: 1px solid #e5e5e5;
	border-top: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.04);
}
.themezee-admin-settings .form-table tr td, .themezee-admin-settings .form-table tr th{
	border: 1px solid #e5e5e5;
	border-top: none;
	padding: 1.3em;
	font-size: 0.95em;
	color: #444;
}
.themezee-admin-settings .form-table label{ 
	color: #444;
}
.themezee-admin-settings .form-table input[type="text"], 
.themezee-admin-settings .form-table textarea { 
	margin-bottom: 0.5em;
}

/* Special Settings Fields */
.themezee-admin-settings .form-table .zee-upload-image-field,
.themezee-admin-settings .form-table .zee-text-field,
.themezee-admin-settings .form-table .zee-url-field,
.themezee-admin-settings .form-table textarea { 
	width: 100%; 
}
.themezee-admin-settings .form-table select { 
	width: 100% !important;
}
.themezee-admin-settings .wp-editor-wrap td, 
.themezee-admin-settings .wp-editor-wrap th, 
.themezee-admin-settings.wp-editor-wrap tr {
	border: none !important;
	padding: 0 !important;
}
.themezee-admin-settings .zee-image-bg {
	width: 98%;
	padding: 4px 1% 0 1%;
	background: transparent url(../images/zee-logo-bg.png) repeat left top;
	overflow: hidden;
	margin-bottom: 0.5em;
}
.themezee-admin-settings .zee-image-bg img {
	max-width: 450px;
	height: auto;
}
.themezee-admin-settings .zee-font-bg {
	padding: 0.4em;
	background: #fafafa;
	font-size: 1.3em;
	margin-top: 1em;
	border: 1px solid #e5e5e5;
}

/* Sidebar Widgets */
#themezee-admin-sidebar dl {
	margin: 0;
	margin-bottom: 1.5em;
	background: #fefefe;
	color: #444;
}
#themezee-admin-sidebar dt {
	margin: 0 !important;
	padding: 0.8em;
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	font-size: 1.1em;
	color: #111;
	text-shadow: #fff 0 1px 0;
}
#themezee-admin-sidebar dt h4 {
	padding: 0 !important;
	margin: 0 !important;
}
#themezee-admin-sidebar dd {
	padding: 1em 1.2em;
	margin: 0;
	border: 1px solid #e5e5e5;
	border-top: none;
}
#themezee-admin-sidebar dd p {
	margin: 0.2em 0;
	line-height: 1.4em;
}
#themezee-admin-sidebar dd ul {
	margin: 0.5em 0 0.2em;
	list-style: inside circle;
}
#themezee-admin-sidebar .subscribe {
	list-style: none;
}
#themezee-admin-sidebar .subscribe li{
	padding: 1px 0;
}
#themezee-admin-sidebar .subscribe img{
	float: left;
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

/* Welcome Screen Layout */
#themezee-admin-welcome .container {
	margin: 0 0 1.5em 0;
	background: #fefefe;
	border: 1px solid #e5e5e5;
	border-top: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 1.3em 1.3em 1em;
	font-size: 0.95em;
	color: #444;
}
#themezee-admin-welcome h3 {
	margin: 0 !important;
	padding: 0.7em 0.8em;
	line-height: 1.4em;
	background: #fff;
	border: 1px solid #e5e5e5;
	font-size: 1.1em;
	color: #111;
	text-shadow: #fff 0 1px 0;
}
#themezee-admin-welcome .column-left {
	float: left;
	width: 50%;
	padding-right: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#themezee-admin-welcome .column-right {
	float: right;
	width: 50%;
	padding-left: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Welcome Screen Content */
#themezee-admin-welcome h1 {
	font-size: 2.4em;
	margin: 0.2em;
	font-weight: normal;
	line-height: 1.3em;
}
#themezee-admin-welcome .welcome-intro {
	padding: 0.3em;
	font-size: 1.6em;
	color: #777;
	line-height: 1.7em;
}
#themezee-admin-welcome .welcome-intro b {
	color: #333;
}

#themezee-admin-welcome h2 {
	font-size: 1.6em;
	margin: 0;
	font-weight: normal;
	line-height: 1.0em;
}
#themezee-admin-welcome h4 {
	font-size: 1.3em;
	margin: 0;
	text-shadow: #fff 0 1px 0;
}
#themezee-admin-welcome ul {
	margin: 0.6em 0 1em;
	padding: 0;
	list-style: none !important;
	font-size: 1.1em;
}
#themezee-admin-welcome ul li{
	margin: 0;
	padding: 0.6em;
	background: #eee;
	border-top: 1px solid #fff;
}
#themezee-admin-welcome .themezee-admin-button {
	display: block;
	text-align: center;
	margin: 0;
	font-size: 1.2em;
	padding: 0.7em;
	background: #21759b;
	color: #fff;
	text-decoration: none;
	border: none;
}
#themezee-admin-welcome .themezee-admin-button:hover {
	background: #333;
}

/* Media Query | <980px */
@media only screen and (max-width: 980px) {
	#themezee-admin-header {
		margin-right: 0;
	}
	#themezee-admin-content {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	#themezee-admin-sidebar {
		float: none;
		margin-top: 3em;
		width: 100%;
	}
}
/* Media Query | <782px */
@media only screen and (max-width: 782px) {
	.themezee-admin-settings h3 {
		border-bottom: none;
	}
	.themezee-admin-settings .form-table tr th{
		border: none;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		padding: 0.7em 1em;
		font-size: 0.95em;
		color: #444;
		background: #f5f5f5;
	}
	.themezee-admin-settings .form-table tr td{
		border: none;
		margin: none;
	}

}
/* Media Query | <600px */
@media only screen and (max-width: 600px) {
	#themezee-admin-header {
		background: none;
	}
	#themezee-admin-header .themezee-admin-header-logo {
		display: none;
	}
	#themezee-admin-welcome .column-left {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	#themezee-admin-welcome .column-right {
		float: none;
		width: 100%;
		padding-left: 0;
	}
}